* {
  box-sizing: border-box;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
main {
  background-color: #001422;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 16px;
}
.circle {
  border-radius: 100%;
  position: absolute;
}

.circle-1 {
  background: radial-gradient(69.62% 69.62% at 50% 50%, #ea8bfa 0%, #7526f5 100%);
  width: 138px;
  height: 138px;
  top: -49.61px;
  left: -56.19px;
  opacity: 1;
}
.circle-2 {
  background: radial-gradient(63.62% 63.62% at 50% 50%, #ff00c7 0%, #bd95ff 0.01%, #a661ff 32.29%, #6100ff 98.59%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  width: 329px;
  height: 329px;
  top: -56px;
  left: 248px;
  angle: 0 deg;
  opacity: 1;
}
.circle-3 {
  background: radial-gradient(67.47% 67.47% at 50% 50%, #fed0ff 0%, #7f00ff 100%);
  width: 230px;
  height: 230px;
  top: 471.86px;
  left: -159.91px;
  angle: 0 deg;
  opacity: 1;
}
.card-container {
  position: relative;
}
.card {
  max-width: 405px; 
  padding: 16px;
  opacity: 1;
  border-radius: 11.16px;
  border-width: 0.74px;
  background: linear-gradient(151.53deg, rgba(255, 255, 255, 0.4) 6.01%, rgba(255, 255, 255, 0.1) 92.61%);
  backdrop-filter: blur(22.3125px);
  box-shadow: 0px 2.97px 17.85px -0.74px #00000033;
}
.card-content {
  border-radius: 11.16px;
  border-width: 0.74px;
  border: 0.74px solid #ffffff4d;
}
.card-thumb-img img {
  width: 100%;
  border-top-left-radius: 11.16px;
  border-top-right-radius: 11.16px;
  max-height: 280px;
  object-fit: cover;
}
.product-style-name {
  background: #f1c6443d;
  padding: 5px;
  border-radius: 5.21px;
}
.product-style-name p {
  font-weight: 500;
  font-style: Medium;
  font-size: 16.66px;
  leading-trim: NONE;
  line-height: 15.62px;
  letter-spacing: 1%;
  color: #f1c644;
  margin: 0;
}
.product-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product_buybox {
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-top: 0.74px solid #ffffff3d;
  align-items: center;
  justify-content: center;
}
.add-wishlist-declarative {
  display: flex;
  justify-content: space-between;
}
.product-title p {
  font-weight: 700;
  font-style: Bold;
  font-size: 17.85px;
  leading-trim: NONE;
  line-height: 22.31px;
  letter-spacing: 1.5%;
  color: #ffffff;
}
.product-merchant-info p {
  font-weight: 500;
  font-style: Medium;
  font-size: 11.9px;
  leading-trim: NONE;
  line-height: 11.16px;
  letter-spacing: 1%;
  color: #ffffff;
}
.averageCustomerReviews {
  display: flex;
  gap: 9px;
  justify-content: flex-start;
  align-items: center;
}
.averageCustomerReviews .rating {
  color: #f1c644;
  font-weight: 300 !important;
  font-style: Regular;
  font-size: 14.88px;
  leading-trim: NONE;
  line-height: 11.16px;
  letter-spacing: 0%;
}
.averageCustomerReviews .reviews {
  color: #fff;
  font-weight: 300 !important;
  font-style: Regular;
  font-size: 14.88px;
  leading-trim: NONE;
  line-height: 11.16px;
  letter-spacing: 0%;
}
.product_buybox img {
  width: 22.59140396118164;
  height: 20.081249237060547;
}
.buyNowBtn {
  font-weight: 300;
  font-style: Regular;
  font-size: 17.85px;
  leading-trim: NONE;
  line-height: 11.16px;
  letter-spacing: -2%;
  color: #fff;
}
